body, html{
  height:100%
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding: 5px 12px;
  float: right;
}
.a
.background img {
  height: 100%;
  width: 100%;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}
.morty{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
}
.summer{
  border:10px solid pink;
  border-radius:10px;
  position:absolute;
}
.rick{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}
.background img {
  height: auto;
  width: 100%;
}